<%- include ("../templates/encabezado") %>
<%- include ("../templates/menu") %>
<div class="container mt-5">
  <form action="/" method="post">
    <div class="container mt-5">
      <h1 class="text-center small-title" style="font-size: 25px;">Ginecología / Obstetricia</h1>
      <div class="text-center">
        <img src="/imageInicio.jpg" alt="Imagen" style="max-width: 400px; height: auto;">
      </div>
      <div class="text-center mt-3">
        <p class="small-text" style="font-size: 11.50px;">"Regístrate o ingresa si ya tienes cuenta para agendar tu cita mas fácil y rápido"</p>
      </div>
      <div class="text-center mt-3">
        <button style="background-color: #546223; color: #fff; border: none; border-radius: 5px; padding: 4px; width: 18%;">
          <a href="/nuevopaciente" style="color: #fff; text-decoration: none; display: block; height: 100%;">Registrarse</a>
        </button>
        <button style="background-color: #1D21AA; color: #fff; border: none; border-radius: 5px; padding: 4px; width: 18%;">
          <a href="/login" style="color: #fff; text-decoration: none; display: block; height: 100%;">Ingresar</a>
        </button>
      </div>
        <div class="text-center">
        <img src="/medicoDr.png" alt="Imagen" style="max-width: 400px; height: auto; padding-top: 18px;">
        <p class="small-text" style="font-size: 16px; padding-top: 15px;">Dra. Kenia de la Torre Cifuentes </p>
      </div>
    </div>
    </div>
  </form>
</div>
<div class="color-bar" style="background-color: #788651; height: 110px;">
  <p class="text-center" style="color: #ffffff !important; font-size: 16px; padding-top: 45px; padding-right: 1150px;"><a href="/">Políticas de Privacidad</a></p>
</div>
<%- include ("../templates/pie") %>
