<nav class="navbar navbar-expand-lg padding-left">
  <div class="container-fluid" style="background-color: #FFFFFF;" >
      <a class="navbar-brand" href="/">
        <img src="/LogoInicio.ico" alt="logo" id="logo" style="max-width: 200px;" >
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" style="padding-left: 410px; font-size: 14px; color: #546223;" aria-current="page" href="/acercaDelMedico">ACERCA DEL MÉDICO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" style="padding-left: 60px; font-size: 14px; color: #546223;" aria-current="page" href="/sobreNosotros">SOBRE NOSOTROS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" style="padding-left: 60px; font-size: 14px; color: #546223;" aria-current="page" href="/contactanos">CONTÁCTANOS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" style="padding-left: 60px; font-size: 14px; color: #546223;" aria-current="page" href="/loginMedico">INICIAR SESIÓN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" style="padding-left: 60px; font-size: 14px; color: #546223;" aria-current="page" href="/loginAdmin">ADMIN</a>
          </li>
          </ul>
      </div>
  </div>
  <style> body { background-image: linear-gradient(#E2F0D9,#546223);} </style>
</nav>


