<%- include ("../templates/encabezado")%>
<%- include ("../templates/menu")%>
<div class="container mt-5">
    <form action="/login" method="post">
        <div class="card" style="background-color: #E2F0D9; border: 2px solid #E2F0D9; border-radius: 20px; box-shadow: 0px 0px 20px #546223; max-width: 400px; margin: 0 auto;">
            <div class="image-container text-center animate__animated animate__headShake">
                <img src="/LogoFormClinicCal.ico" alt="Imagen" style="max-width: 200%; height: auto;">
            </div>
            <div class="card-header" style="background-image: linear-gradient(#546223, #546223d5); color: #ffffff; border-radius: 10px 10px 0px 0px;">
                <h1 style="font-size: 20px; padding: 15px; text-align: center;">Ingreso Paciente</h1>
            </div>
            <div class="card-body">

                <% if (typeof error !== 'undefined') { %>
                    <div class="alert alert-danger" style="background-color: #e74c3c; color: #fff; border: 1px solid #c0392b; border-radius: 5px; padding: 10px;">
                        <%= error %>
                    </div>
                    <% } %>

                <p style="font-size: 15px; font-weight: bold;" >Usuario:</p><input class="form-control mb-3" type="text" name="usuario" id="usuario" placeholder="Usuario" autofocus style="background-color: #ffffff; color: #000000; border: 1px solid #E2F0D9; border-radius: 5px; width: 100%;">
                <p style="font-size: 15px; font-weight: bold;" >Password:</p><input class="form-control mb-3" type="password" name="password" id="password" placeholder="Contraseña" style="background-color: #ffffff; color: #000000; border: 1px solid #E2F0D9; border-radius: 5px; width: 100%;">
            </div>
            <button class="animate__animated animate__fadeInDown" type="submit" style="background-image: linear-gradient(#1D21AA, #1d22aab0) ; color: #fff; border: none; border-radius: 10px 10px 20px 20px;">
                <a style="color: #fff; text-decoration: none; display: block; border: none; border-radius: 30px; padding: 10px; width: 100%;">Acceder</a>
            </button>
        </div>
    </form>
    <div class="text-center mt-3">
        <p style="color: #ffffff;font-size: 14px;">No tienes una cuenta? <a href="/nuevopaciente" style="color: #1D21AA; text-decoration: none;">Crea una nueva</a></p>
    </div>
    <div class="text-center mt-3">
        <p> <a href="/" style="color: #ffee00; text-decoration: none; font-size: 20px; padding-top: 50px;">🢀regresar</a></p>
    </div>
</div>
<div class="color-bar" style="background-image: linear-gradient(#212529, #212529); height: 80px; margin-top: 55px;">
    <p class="text-center" style="font-size: 13px; padding-top: 35px; padding-right: 1170px;"><a href="/politicasDePrivacidad" style="color: #ffffff;">Políticas de Privacidad</a></p>
  </div>

<%- include ("../templates/pie")%>





