<%- include ("../templates/encabezado")%>
<%- include ("../templates/menu")%>
<div class="container mt-5">
    <form action="/nuevopaciente" method="post">
        <div class="card" style="background-color: #E2F0D9; border: 2px solid #E2F0D9; border-radius: 20px; box-shadow: 0px 0px 20px #546223; max-width: 400px; margin: 0 auto;">
            <div class="image-container text-center">
                <img src="/LogoFormClinicCal.ico" alt="Imagen" style="max-width: 200%; height: auto;">
            </div>
            <div class="card-header" style="background-image: linear-gradient(#546223, #546223d5); color: #ffffff; border-radius: 10px 10px 0px 0px;">
                <h1 style="font-size: 20px; padding: 15px; text-align: center;">Registro Paciente</h1>
            </div>
            <div class="card-body">
                <input class="form-control mb-3" type="text" name="nombre" id="nombre" placeholder="Nombre" autofocus style="background-color: #ffffff; color: #000000; border: 1px solid #E2F0D9; border-radius: 5px; width: 100%;">
                <input class="form-control mb-3" type="text" name="apellidos" id="apellidos" placeholder="Apellidos" style="background-color: #ffffff; color: #000000; border: 1px solid #E2F0D9; border-radius: 5px; width: 100%;">
                <input class="form-control mb-3" type="text" name="usuario" id="usuario" placeholder="Usuario" style="background-color: #ffffff; color: #000000; border: 1px solid #E2F0D9; border-radius: 5px; width: 100%;">
                <input class="form-control mb-3" type="password" name="password" id="password" placeholder="Password" style="background-color: #ffffff; color: #000000; border: 1px solid #E2F0D9; border-radius: 5px; width: 100%;">
            </div>
            <div class="card-footer" style="background-color: #E2F0D9; border-radius: 0px 0px 10px 10px;">
                <button class="form-control" type="submit" style="background-image: linear-gradient(#1D21AA, #1d22aac0); color: #fff; border: none; border-radius: 5px; padding: 10px; width: 100%;">Aceptar</button>
            </div>
        </div>
    </form>
    <div class="text-center mt-3">
        <p> <a href="/" style="color: #ffee00; text-decoration: none; font-size: 20px;">🢀regresar</a></p>
    </div>
</div>
<div class="color-bar" style="background-image: linear-gradient(#E2F0D9, #E2F0D9); height: 110px;">
    <p class="text-center" style="font-size: 16px; padding-top: 45px; padding-right: 1150px;"><a href="/" style="color: #546223;">Políticas de Privacidad</a></p>
  </div>
<%- include ("../templates/pie")%>
