<%- include ("../templates/encabezado")%>
<%- include ("../templates/menu")%>

<div class="container" style="padding-top: 20px;">
    <h1 style="font-size: 20px; padding-left: 40px;"></h1>

    <div class="row">
        <div class="col-md-4">
            <img src="/medicoDr.png" alt="Foto del Médico" class="img-fluid">
        </div>
        <div class="col-md-8">
            <h2 style="color: #546223; font-size: 20px; padding-top: 0px;">Dra. Kenia de la Torre Cifuentes</h2>
            <p style="font-size: 15px; padding-top: 20px;">☑Especialidad: Ginecologa / Obstetricia.</p>
            <p style="font-size: 15px; padding-top: 20px;">☑Experiencia: 10 años.</p>
            <p style="font-size: 15px; padding-top: 20px;">☑Ubicación: Corregidora Zona Centro, San Juan del Rio, Qro.</p>
            <p style="font-size: 15px; padding-top: 20px;">☑Teléfono: (427) 306 7104.</p>
        </div>
    </div>

    <h3 style="color: white; padding-top: 20px; font-size: 20px;">✍ Descripción de la Médico:</h3>
    <p style="text-align: justify; color: white;">La Dra. Kenia de la Torre Cifuentes es una distinguida ginecóloga y obstetra con una impresionante experiencia de 10 años en su campo. 
        Su trayectoria en la medicina reproductiva y la atención materna ha dejado una huella imborrable en la comunidad médica y en la vida de sus pacientes. Con una pasión innata por la salud de las mujeres y un compromiso inquebrantable con su profesión, la Dra. Kenia se ha convertido en una referencia confiable y respetada en su área.
        La Dra. Kenia es conocida por su habilidad para combinar la ciencia médica con un enfoque humanitario, brindando a sus pacientes un nivel excepcional de cuidado y comodidad. Su calidez y empatía hacen que sus pacientes se sientan seguras y comprendidas en momentos que a menudo son emocionalmente desafiantes.

        A lo largo de su carrera, la Dra. Kenia ha participado en innumerables partos y ha brindado atención ginecológica a mujeres de todas las edades, desde adolescentes hasta aquellas en la etapa de la menopausia. Su vasto conocimiento y experiencia en obstetricia y ginecología le permiten abordar una amplia variedad de afecciones, desde embarazos de alto riesgo hasta trastornos menstruales y problemas de fertilidad.
        
        Además de su extensa práctica clínica, la Dra. Kenia ha llevado a cabo investigaciones significativas en su campo, contribuyendo al avance de la medicina reproductiva y la salud de la mujer. También ha compartido su experiencia a través de conferencias y publicaciones en revistas médicas de renombre.</p>
</div>
<div class="color-bar" style="background-image: linear-gradient(#E2F0D9, #E2F0D9); height: 110px;">
    <p class="text-center" style="font-size: 16px; padding-top: 45px; padding-right: 1150px;"><a href="/" style="color: #546223;">Políticas de Privacidad</a></p>
  </div>

<%- include ("../templates/pie")%>
