<%- include ("../templates/encabezado") %>
<%- include ("../templates/menu") %>
<div class="container mt-5">
  <form action="/" method="post">
    <div class="container mt-5">
      <h1 class="text-center small-title" style="font-size: 25px;">Ginecología / Obstetricia</h1>
      <div class="text-center animate__animated animate__zoomIn">
        <img src="/imageInicio.jpg" alt="Imagen" style="max-width: 500px; height: auto;">
      </div>
      <div class="text-center mt-3">
        <p class="small-text" style="font-size: 14.50px;">"Regístrate o ingresa si ya tienes cuenta para agendar tu cita mas fácil y rápido"</p>
      </div>
      <div class="text-center mt-3">
        <button class="animate__animated animate__fadeInLeft" style="background-image: linear-gradient(#546223, #546223cb) ; color: #fff; border: none; border-radius: 5px; padding: 4px; width: 22.20%;">
          <a href="/nuevopaciente" style="color: #fff; text-decoration: none; display: block; height: 100%;">Registrarse</a>
        </button>
        <button class="animate__animated animate__fadeInRight" style="background-image: linear-gradient(#1D21AA, #1d22aab0) ; color: #fff; border: none; border-radius: 5px; padding: 4px; width: 23.20%;">
          <a href="/login" style="color: #fff; text-decoration: none; display: block; height: 100%;">Ingresar</a>
        </button>
      </div>
        <div class="text-center">
        <img src="/medicoDr.png" alt="Imagen" style="max-width: 500px; height: auto; padding-top: 18px;">
        <p class="small-text" style="font-size: 16px; padding-top: 15px; color: #ffffff;">Dra. Kenia de la Torre Cifuentes </p>
      </div>
    </div>
    </div>
  </form>
</div>
<div class="color-bar" style="background-image: linear-gradient(#212529, #212529); height: 80px; margin-top: 50px;">
  <p class="text-center" style="font-size: 13px; padding-top: 35px; padding-right: 1160px;"><a href="/politicasDePrivacidad" style="color: #ffffff;">Políticas de Privacidad</a></p>
</div>
<%- include ("../templates/pie") %>
